<div class="page-header">
  <div class="max-width mx-auto px-10">
    <div class="title-container py-20">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="max-width mx-auto px-10 py-50 page-content rte">
  {{ page.content }}
</div>
